
.eye {
  position: absolute;
  // border: 2px solid green;
  top: 30%;
  left: 22%;
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.rotate {
  animation-name: spin;
  animation-duration: 2s;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(1800deg);}
}