.right {
  // border: 2px solid red;
  width: 40%;
}

// .rotate {
//   animation-name: spin;
//   animation-duration: 2s;
// }

// @keyframes spin {
//   from {transform:rotate(0deg);}
//   to {transform:rotate(1800deg);}
// }